.contacts 
  a.contact(href="tel:+380951234567")
    i.fas.fa-mobile-alt.contact__icon
    span.contact__text 6337 3128
  a.contact(href="mailto:info@business.co")
    i.fas.fa-envelope.contact__icon.contact__icon--email
    span.contact__text info@business.co
  a.facebook-icon(href="facebook.com")
    i.fab.fa-facebook-f